.root{
    display: flex;
    align-items: center;
}
.content{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;

}
@media (min-width: 1340px){
    .content{
    max-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
    }
}
@media (min-width: 780px){
    .content{
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
    }
}